<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
<%- include ../layouts/menu.ejs %>

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Topbar Start -->

        <!-- end Topbar -->

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <form class="form-inline">
                            </form>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <!-- end row -->

            <div class="row">

            </div>
            <!-- end row -->

            <!-- end row -->

        </div>
        <!-- container -->

    </div>

    <script>
        $(document).ready(function () {

        });
    </script>
    <%- include ../layouts/footer.ejs %>
</div>
